
.DS_Store
build/Jenkins.build/Release-iphoneos/Jenkins.build/all-product-headers.yaml
build/Jenkins.build/Release-iphoneos/Jenkins.build/assetcatalog_dependencies
build/Jenkins.build/Release-iphoneos/Jenkins.build/assetcatalog_generated_info.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/LaunchScreen-SBPartialInfo.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/Main-SBPartialInfo.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/Main.storyboardc/Info.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/Jenkins.build/Release-iphoneos/Jenkins.build/DerivedSources/Entitlements.plist
build/Jenkins.build/Release-iphoneos/Jenkins.build/DerivedSources/Jenkins-Swift.h
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins-all-non-framework-target-headers.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins-all-target-headers.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins-generated-files.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins-own-target-headers.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins-project-headers.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins.app.xcent
build/Jenkins.build/Release-iphoneos/Jenkins.build/Jenkins.hmap
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/AppDelegate.o
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/AppDelegate.stringsdata
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins-master.d
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins-master.dia
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins-master.swiftdeps
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins-OutputFileMap.json
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins-Swift.h
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins.LinkFileList
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins.swiftdoc
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins.SwiftFileList
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins.swiftmodule
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins.swiftsourceinfo
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/Jenkins_dependency_info.dat
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/SceneDelegate.o
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/SceneDelegate.stringsdata
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/ViewController.o
build/Jenkins.build/Release-iphoneos/Jenkins.build/Objects-normal/arm64/ViewController.stringsdata
build/Jenkins.build/Release-iphoneos/Jenkins.build/SwiftStdLibToolInputDependencies.dep
build/Release-iphoneos/Jenkins.app.dSYM/Contents/Info.plist
build/Release-iphoneos/Jenkins.app.dSYM/Contents/Resources/DWARF/Jenkins
build/Release-iphoneos/Jenkins.app/_CodeSignature/CodeResources
build/Release-iphoneos/Jenkins.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/Release-iphoneos/Jenkins.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/Release-iphoneos/Jenkins.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/Release-iphoneos/Jenkins.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/Release-iphoneos/Jenkins.app/Base.lproj/Main.storyboardc/Info.plist
build/Release-iphoneos/Jenkins.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/Release-iphoneos/Jenkins.app/embedded.mobileprovision
build/Release-iphoneos/Jenkins.app/Info.plist
build/Release-iphoneos/Jenkins.app/Jenkins
build/Release-iphoneos/Jenkins.app/PkgInfo
build/Release-iphoneos/Jenkins.swiftmodule/arm64-apple-ios.swiftdoc
build/Release-iphoneos/Jenkins.swiftmodule/arm64-apple-ios.swiftmodule
build/Release-iphoneos/Jenkins.swiftmodule/arm64.swiftdoc
build/Release-iphoneos/Jenkins.swiftmodule/arm64.swiftmodule
build/Release-iphoneos/Jenkins.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
build/Release-iphoneos/Jenkins.swiftmodule/Project/arm64.swiftsourceinfo
build/XCBuildData/3f40357e7dda5fe684eb11ea79e0adc0-buildRequest.json
build/XCBuildData/3f40357e7dda5fe684eb11ea79e0adc0-desc.xcbuild
build/XCBuildData/3f40357e7dda5fe684eb11ea79e0adc0-manifest.xcbuild
build/XCBuildData/3f40357e7dda5fe684eb11ea79e0adc0-targetGraph.txt
build/XCBuildData/build.db
build/XCBuildData/BuildDescriptionCacheIndex-1a57eb69136102ffb5603d7a9d9aa3f5
Jenkins.xcodeproj/project.pbxproj
Jenkins.xcodeproj/project.xcworkspace/xcuserdata/serkanmehmetmalagic.xcuserdatad/UserInterfaceState.xcuserstate
Jenkins.xcodeproj/xcshareddata/xcschemes/Jenkins.xcscheme
Jenkins.xcodeproj/xcshareddata/xcschemes/JenkinsTests.xcscheme
Jenkins.xcodeproj/xcuserdata/serkanmehmetmalagic.xcuserdatad/xcschemes/xcschememanagement.plist
Jenkins.xcworkspace/xcuserdata/serkanmehmetmalagic.xcuserdatad/UserInterfaceState.xcuserstate
Jenkins.xcworkspace/xcuserdata/serkanmehmetmalagic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
pods
